

body {
  background-image: url("Discov.jpg");
  background-size:cover;
  text-align: center;
}

#title{
  background-image: url("hand.jpg");
   background-size:cover;
   background-repeat: no-repeat;
   height:600px;
}

.col-title {

    padding-left: 0px;
}
 .col-space{
   padding-left: 0px;
   padding-top: 30px;
 }
.navbar-brand {
  padding:1% 8%;
  font-size: 2rem;
  /* font-family:  serif; */
  color: black;
  font-weight: bold;
  font-family:cursive;
}

.nav-item {
  padding:4%;
  font-size: 20px;
  font-weight: bold;
}

.nav-link {
color: black;
}

.navbar-nav {
  padding-right: 8%;
}

.navbar-toggler-icon {
  color: black;
}

p {
  font-family: 'PT Serif', serif;
}

h3 {
  font-family: serif;
  font-weight: bold;
  text-align: center;
  padding-top: 2%;
  letter-spacing: normal;
  font-size: 3rem;
  color: #f5f1da;
}

h1 {
  font-family: 'Pacifico', cursive;
  font-size:3rem;
  line-height: 2.5;
  text-align: center;
}

h4 {
  font-family: serif;
  font-weight: bold;
  text-align: center;
}

h2{
    font-family: serif;
    line-height: 1.5;
  }

.download-button{
  font-family:  serif;
  margin: 5% 0 3%;
}


  .img-pad {

    padding-top: 3%;
    border-radius: 50%;
    width: 80px;
    height: 95px;
    text-align: center;
  }

  .col-lg-4 {
    padding-top:6%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
  }

  .col-position {
    right:200px;
  }

  .col-position1{
    left: 200px;
  }



  .logo1 {
    padding-left: 150px;

  }

#press {
  text-align: center;
  padding-bottom: 40px;
}


#testimonials {
padding: 40px 15% ;
text-align: center;
color: #d9ecf2;
}


.testimonial-image {
  width:10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
  padding: 6% 10% ;
}

.cards{

    width: 300px;
    height: 300px;
    border: 2px;
}

.row {

    margin-left: 60px;
}
